
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo"></h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        
                      <h2 style="color: #a4cdaf;"> Style Eye    </h2>
                    </li><li><form action="/user/contact" method="post">
                        <i class="fa fa-envelope fa-fw"></i><input type="hidden" name="typeOfForm" value="contact">
                        <input type="text" name="email" placeholder="Email" style="    border-radius: 7px;
                        "><textarea name="problem" cols="20" rows="2" style="    border-radius: 7px;
                         margin-left: 30px;" placeholder="Type Here For Contact "></textarea><br><input type="submit" value="submit" style="background-color: #a4cdaf; border: 2px solid #a4cdaf; border-radius: 7px;"><br>
                         Admin contact you on your email
                    </form></li>
                   
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light"></h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/sunglasses">Sunglasses</a></li>
                    <li><a class="text-decoration-none" href="/computerglasses"> Computer Glasses</a></li>
                    <li><a class="text-decoration-none" href="/powerglasses"> Power Glasses</a></li>
                    <li><a class="text-decoration-none" href="/contactlenses"> Contact Lenses</a></li>
                    
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light"></h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/home">Home</a></li>
                    <li><a class="text-decoration-none" href="/aboutpage">About Us</a></li>
                    <li><a class="text-decoration-none" href="/user/liked/products">Like Product</a></li>
                    <li><a class="text-decoration-none" href="/user/feedback">FeedBack</a></li>
                </ul>
            </div>

        </div>


    </div>

   
<hr style="    color: #40506a;">


<center><p style="color: white;">Copyright © 2022 StyleEye. All Rights Reserved.</p></center>
</footer>