<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Change Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>
  <style>
    .form-gap {
    padding-top: 70px;
}
  </style>
<body>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


  <% if (wrong == "true") { %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .info-msg,
      .success-msg,
      .warning-msg,
      .error-msg {
        position: absolute;
        margin-top: -0%;
        width: 100%;
        padding: 10px;
        border-radius: 3px 3px 3px 3px;
      }
      /* .info-msg {
        color: #059;
        background-color: #BEF;
      } */
      .success-msg {
        color: #270;
        background-color: #DFF2BF;
      }
      .warning-msg {
        color: #9F6000;
        background-color: #FEEFB3;
      }
      .error-msg {
        color: #D8000C;
        background-color: #FFBABA;
      }
      
      
      </style>
        <div class="error-msg" id="mesage">
          <i class="material-icons">error_outline</i>
          Invalid Email Please Register First........
        </div>
        <script>
          setTimeout(()=>{
              document.getElementById('mesage').style.display = 'none';
            },5000)
            </script>
  <% } %>
  <div class="form-gap">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" action="/forgot/password" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                          <input type="hidden" id="email" name="role" placeholder="email address" class="form-control"  value="user">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                        <br>
                      

                        <a style="color: black;" >Go To Login Page : </a><a href="/login">Login</a>
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
	</div>
</div>
</body>
</html>